@media(max-width: 420px){
    body{
        overflow-x: hidden;
    }
    header{
        height: 20vh;
        width: 100%;
        background-color:transparent;
        box-sizing: 5px 5px 5px;
        position: fixed;
        z-index: 10;
        top: 0px;

    }
    header .first-nav{
        height: 60%;
        width: 100%;
        background-color:aquamarine;
        border-bottom: 2px solid black;
        display: block;
        
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    header .first-nav .logo{
        width: 8%;
        height: 70%;
        margin-left: 4px;
    }
    header .first-nav .logo img{
        height: 110%;
        width: 200%;
        
    }
    header .first-nav .search{
        height: auto;
        width: 47%;
        background-color: aquamarine;
        border: 2px solid black;
        border-radius: 20px;
        padding: 5px;
        margin-top: -28px;
        margin-left: 125px;
    }
    header .first-nav .search .search-1 {
        display: flex;
        justify-content: space-between;
        border: none;
    }
    header .first-nav .search .search-1 input{
        border: none;
        background-color: aquamarine;
        outline: none;
    
    }
    header .first-nav .menu{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
        transition: 5s;
        width: 20%;
        height: 150%;
        
        background-color: #dd5ab4;
        
        left: -100%;
    }
    header .first-nav .menu .cross-btn{
        margin-left: 88px;
        margin-top: 0px;
        position: absolute;
        font-size: larger;
    }
    header .first-nav button{
        display: block;
        background-color: transparent;
        margin-left: 420px;
        margin-top: -33px;
        border: none;
        font-size: xx-large;
    }
    header .first-nav .menu a{
        text-decoration: none;
        margin: 5px;
        font-size: 17px;
        background-color: transparent;
        padding: 5px;
        border-radius: 12px;
    }
    header .first-nav .menu a:hover{
        letter-spacing: 1px;
        background-color: blue;
        color: white ;
    }
    header .first-nav .menu select{
        margin-right: 10px;
        border: none;
        font-size: larger;
        background-color:bisque;
        border-radius: 10px;
        width: 90px;
    }
    header .first-nav .menu select:hover{
    }
    
    
    /*------First nav bar end--------*/
    /*----------===================================================-------*/
    /*----------===================================================-------*/
    /*-----Second nav bar start-------*/
    
    
    
    header .second-nav{
        height: 40%;
        width: 100%;
        background-color: rgb(155, 219, 235);
        border-bottom: 1px solid black;
        align-items:flex-end;
        display: flex;
        flex-direction: column-reverse;
    }
    header .second-nav div a{
        font-size: large;
        position: relative;
        top: -15px;
        text-decoration: none;
        right: 20px;
    }
   
    header .first-nav .menu .cross-btn{
        display: block;
    }
    







    .slider{
        position: relative;
        top: 0px;
        display: none

    }
    .bullett{
        display:none;
    }
    .buysell{
        height: 300px;
        width: 122%;
        background-color:blanchedalmond;
        margin-top: 110px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;
        font-weight: bolder;
        text-align: center;
    }
    .buysell p{
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 0px;
    }
    .home{
    
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
        justify-content: space-evenly;
        width: 122%;
        height: auto;
        background-color: blanchedalmond;
        
    }
    .card-outer{
        width: 55%;
        height: 370px;
        background-color: transparent;
        position: relative;
        margin: 50px;
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: 7px 7px 5px rgb(214, 191, 15);
    
    }
    .text-center {
        text-align: center;
        background-color: blanchedalmond;
        position: relative;
        width: 122%;
        height: auto;
        top: 0;
    }
    .sellbook, .buybook{
        height: auto;;
        width: 122%;
        background-color: rgb(172, 246, 246);
        position: relative;
        top: 0px;
        border-top: 5px solid blue;
        border-bottom: 2px solid blue;
        border-bottom-left-radius: 20px ;
        border-bottom-right-radius: 20px ;
        border-top-left-radius: 20px ;
        border-top-right-radius: 20px ;
    }
    .sellbook h2 {
        border-bottom: 1px solid #008bcf;
        color: #333;
        font-size: 2rem;
        display: inline-block;
        padding-bottom: .5rem;
        text-align: center;
        padding: 0px;
    
    }
    p {
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: center;
        padding: 0px;
    }
    .sellbook2{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 75px;
        
    }
    .sellbook2-a, .sellbook2-b, .sellbook2-c{
        height: 20%;
        width: 65%;
        border: 1px solid black;
        position: relative;
        display: flex;
        margin-top: 20px;
        align-items: center;
        background-color: antiquewhite;
        top: 60px;
    }
    .steps{
        height: 17%;
        width: 26%;
        border: none;
        color: #ffffff;
        background-color:rgb(46, 159, 216) ;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        text-align: center;
        margin-right: 253px;
        margin-top: 10px;
    }
    .sellbook2 img{
        height: 20%;
        width: 30%;
        border: 1px solid black;
        border-radius: 50px;
        box-shadow: 10px 10px 10px  gray;
        padding: 5px;
    }
    
    
    .sellbook2 h3{
        text-align: center;
        padding: 0px 25px;
        margin-top: 20px;
    }
    .footer{
        background-color: #000000;
        padding: 0px ;
        position: relative;
        margin-top: -50px;
        width: 122%;
    }
    .footer .container .row .copyright{
        color: white;
        text-align: center;
        font-size: large;
        margin-top: 12px;
        margin-bottom: 10px;
    }
}

